/* @override 
	http://dev.art-sans-rdv.ch/wp-content/themes/artsansrdv/css/storymap-custom.css */


body .vco-storymap {
		font-family: MaisonNeueWeb, Arial, Helvetica, sans-serif;
		color: #0f0 !important;
		text-shadow: 0px !important;
}


.vco-slide.vco-full-image-background,.vco-slide.vco-full-color-background,.vco-slide.vco-full-image-background p,.vco-slide.vco-full-color-background p,.vco-slide.vco-full-image-background h1,.vco-slide.vco-full-color-background h1,.vco-slide.vco-full-image-background h2,.vco-slide.vco-full-color-background h2,.vco-slide.vco-full-image-background h3,.vco-slide.vco-full-color-background h3,.vco-slide.vco-full-image-background h4,.vco-slide.vco-full-color-background h4,.vco-slide.vco-full-image-background h5,.vco-slide.vco-full-color-background h5,.vco-slide.vco-full-image-background h6,.vco-slide.vco-full-color-background h6,.vco-slide.vco-full-image-background a,.vco-slide.vco-full-color-background a,.vco-slide.vco-full-image-background a:hover,.vco-slide.vco-full-color-background a:hover,.vco-slide.vco-full-image-background b,.vco-slide.vco-full-color-background b,.vco-slide.vco-full-image-background i,.vco-slide.vco-full-color-background i,.vco-slide.vco-full-image-background blockquote,.vco-slide.vco-full-color-background blockquote,.vco-slide.vco-full-image-background blockquote p,.vco-slide.vco-full-color-background blockquote p,.vco-slide.vco-full-image-background .vco-caption,.vco-slide.vco-full-color-background .vco-caption,.vco-slide.vco-full-image-background .vco-credit,.vco-slide.vco-full-color-background .vco-credit,.vco-slide.vco-full-image-background .vco-media-twitter blockquote,.vco-slide.vco-full-color-background .vco-media-twitter blockquote,.vco-slide.vco-full-image-background .vco-media-blockquote blockquote,.vco-slide.vco-full-color-background .vco-media-blockquote blockquote,.vco-slide.vco-full-image-background .vco-media-twitter blockquote p,.vco-slide.vco-full-color-background .vco-media-twitter blockquote p,.vco-slide.vco-full-image-background .vco-media-blockquote blockquote p,.vco-slide.vco-full-color-background .vco-media-blockquote blockquote p,.vco-slide.vco-full-image-background .vcard a,.vco-slide.vco-full-color-background .vcard a,.vco-slide.vco-full-image-background .vcard .nickname,.vco-slide.vco-full-color-background .vcard .nickname,.vco-slide.vco-full-image-background a,.vco-slide.vco-full-color-background a,.vco-slide.vco-full-image-background .vcard a,.vco-slide.vco-full-color-background .vcard a,.vco-slide.vco-full-image-background .vco-media .vco-media-wikipedia h4 a,.vco-slide.vco-full-color-background .vco-media .vco-media-wikipedia h4 a {
color: #333 !important;
text-shadow: 0px 0px 0px #000 !important;
}

.page .vco-slide .vco-slide-calltoaction .vco-slide-calltoaction-button-text {
    display: inline-block;
    background-color: #00f7c8;
    color: #333;
    text-shadow: none;
    font-size: 120%;
    font-weight: normal;
    padding: 10px 15px 10px 15px;
    padding: 0.2em 0.4em;
    border-radius: 0px;
    border: 2px solid #333;
}

.page .vco-slide .vco-slide-calltoaction:hover .vco-slide-calltoaction-button-text {
    background-color: #333;
    color: #fff;
}

.vco-credit {
	text-align: left;
}

.vco-storymap .vco-credit,
.vco-storymap .vco-caption  {
/*	font-size: 90%;*/
	line-height: 1.3;
}

.vco-storymap .vco-caption {
	font-size: 90%;
}

.vco-storymap b,
.vco-storymap strong {
	font-weight: normal;
}
