/* @override 
	http://art-sans-rdv.ch/wp-content/themes/artsansrdv/css/dev/30-custom.css */




/*******************************************
*** Main CSS Site Layout ***
*******************************************/

/* @group Fonts */

body { 
	font: 16px MaisonNeueWeb, Arial, Helvetica, sans-serif; 
	*font-size: small; 
	*font: x-small; 
	line-height: 1.3;
	
	}

@font-face {
    font-family: 'MaisonNeueWeb';
    src: url('../../fonts/MaisonNeue/MaisonNeueWEB-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeueWeb';
    src: url('../../fonts/MaisonNeue/MaisonNeueWEB-DemiItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

b, strong {
	font-weight: normal;
}


.wf-loading .lib-serif {
	font-family: sans-serif;
}

.wf-inactive .lib-serif {
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6,
th {
	font-weight: normal;
}

img {
	display: block;
	max-width: 100%;
}

.font-small,
.small-font {
	font-size: 90%;
}

.large-font {
	font-size: 140%;
}
.larger-font {
	font-size: 145%;
}

.h1 { font-size: 220%; }
.h2 { font-size: 170%; }
.h3 { font-size: 150%; }
.h4 { font-size: 120%; }
.h5 {  }


.js-hidden {
	display: none;
}

.no-js .js-hidden {
	display: block;
}


/* @end */

/* @group Basics */

html, body {
	background: #00f7c8;
}

html,
button,
select, 
input, 
textarea,
a, a:active, a:visited,
a:hover
{ 
	color:#000; 
}

ul,
li,
.zero {
	margin: 0;
	padding: 0;
	border: 0;
}

ul, li {
	list-style: none;
}

.hidden {
	display: none;
}

.jq-hidden {
}


.trueblack {
	color: #000;
}

.img {
	display: block;
}

.leftfloat {
	float: left;
}

.rightfloat {
	float: right;
}

.dblock {
	display: block;
}


.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	clear: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* @end */

/* @group Forms */

input {
	background: #000;
	color: #fff;
	border: 0px solid red;
	padding: 0.4em 0.3em 0.2em 0.3em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

input[type="submit"] {
	background: transparent;
	border: 2px solid #000;
	color: #000;
}

input[type="submit"]:hover {
	background: #000;
	color: #fff;
}

/* @end */

/* @group Layout */

body, html {
	padding: 0;
	margin: 0;
}

.header {
	background: #d0ff01;
	border: 0px;
	position: relative;
	min-height: 190px;
	
/*	-webkit-transition: height .3s ease;
	-moz-transition: height .3s ease;
	-ms-transition: height .3s ease;
	-o-transition: height .3s ease;
	transition: height .3s ease;
	
	-webkit-transition: min-height .3s ease;
	-moz-transition: min-height .3s ease;
	-ms-transition: min-height .3s ease;
	-o-transition: min-height .3s ease;
	transition: min-height .3s ease;*/
	
}

.header-container {
	border: 0px solid blue;
	position: absolute;
	max-width: 1020px;
	margin: 0 auto;
	bottom: 0px;
	width: 100%;
}

.header-content {
	position: relative;
	width: 100%;
/*	left: 0px;*/
	bottom: 0px;
}

.content {
	margin: 2em auto 5em auto;
	padding: 0.3em 0em 2em 0em;
	background: #fff;
/*	max-width: 900px;*/
	border-bottom: 80px solid #00f7c8;
	
}

.content .main {
	padding: 0 2em;
}

.logo,
.logo-error {
	margin: 0;
	display: block;
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 5;
}

/* @end */

/* @group Header */

.logo {
	top: -125px;
	margin-left: -70px; /*was -75px*/
}

/* @group Logo Variations */

.logo a {
	display: block;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	
	width: 144px; /*was 100px*/
	height: 180px;
	background-image: url(../../img/logo/150612-01.gif);
	background-size: 100% 100%;
	
}

/*.logo-1 .logo a {
	background-image: url(../../img/logo/150612-01.png);
}
.logo-2 .logo a {
	background-image: url(../../img/logo/150612-02.png);
}
.logo-3 .logo a {
	background-image: url(../../img/logo/150612-03.png);
}
.logo-4 .logo a {
	background-image: url(../../img/logo/150612-04.png);
}
.logo-5 .logo a {
	background-image: url(../../img/logo/150612-05.png);
}*/

.logo-1 .logo a {
	background-image: url(../../img/logo/150612-01.gif);
}
.logo-2 .logo a {
	background-image: url(../../img/logo/150612-02.gif);
}
.logo-3 .logo a {
	background-image: url(../../img/logo/150612-03.gif);
}
.logo-4 .logo a {
	background-image: url(../../img/logo/150612-04.gif);
}
.logo-5 .logo a {
	background-image: url(../../img/logo/150612-05.gif);
}

/* @end */

/* @group Desktop Menu */

.desktop-menu {
	position: absolute;
	bottom: 0px;
}

.desktop-menu ul li {
	display: inline;
	margin-right: 0.em;
	font-size: 100%;
	
}

.desktop-menu a {
	text-decoration: none;
	padding: 4px 4px 3px 4px;
	border: 2px solid transparent;
}

.desktop-menu a:hover {
	border: 2px solid #000;
	background: #fff;
}

.desktop-menu .current-menu-item a {
	background: #000;
	border-color: #000;
}

.desktop-menu .current-menu-item a {
	color: #fff;
}

/* @end */

.mobile-links {
	display: block;
	border: 0px solid #000;
	margin: 14px 0 0 2em;
	float: left;
}

.mobile-links a {
	display: block;
	position: relative;
	float: left;
	clear: none;
	overflow: hidden;
}

.mobile-links a,
.social-menu li a
{
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	
	width: 32px;
	height: 32px;
	margin: 0px 14px 0 0;
	background-size: 100% 100%;
}

.mobile-links a.link-menu {
	background-image: url(../../img/menus/menu-73.png);
}

.mobile-links a.link-menu-open {
	background-image: url(../../img/menus/menu-73-selected.png);
}

.mobile-links a.link-capsules {
	display: none;
	background-image: url(../../img/menus/filter-73.png);
}

.social-menu {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 1em;
	height: 32px;
	margin: 0;
	padding: 0;
}

.social-menu ul li {
	display: block;
	position: relative;
	float: left;
	clear: none;
	width: 46px;
	height: 32px;
	overflow: hidden;
	
}

.social-menu ul li a {
	background-color: none;
	border-radius: 16px
}

.social-menu ul li a:hover {
	background-color: #fff;
}

.social-menu li a[href*="facebook.com"]{
  background-image: url(../../img/icons/v3/facebook.png);
}
.social-menu li a[href*="twitter.com"] { 
	background-image: url(../../img/icons/v3/twitter.png);
}

.searchform .submit {
	display: none;
}

.searchform input[type="text"] {
	max-width: 8em;
	
	
}
.searchform input[value=""] {
	background-image: url(../../img/icons/v3/recherche.png);
	background-size: 29px 29px;
	background-repeat: no-repeat;
}

.searchform input[type="text"]:focus {
	background-image: none;
}

/* @end */

/* @group Footer */

.download-zone {
	background: #000;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 150%;
	z-index: 1024; /* Because StoryMap... */
}

.download-container {
	width: 10em;
	margin: 1em auto;
	height: 60px;
	border: 0px solid #0f0;
}

.download-zone .call {
	margin: 0;
	height: 60px;
	border: 0px solid #0f0;
}

#download.inactive .call {
	cursor: pointer;
}

#download.active .call-text {
	display: none;
}

#download.active .download-container {
	width: 10.7em;
/*	margin-top: 0.35em;*/
	padding-bottom: 0;
	margin-top: 1.35em;
	margin-bottom: 0.65em;
/*	border: 0px solid yellow;*/
}

.download-zone .call-icon {
	background-image: url(../../img/icons/app-mobile.png);
	background-repeat: no-repeat;
	background-size: 60px 59px;
	width: 60px;
	height: 59px;
	float: left;
}

#download.active .call-icon {
	background-image: url(../../img/icons/arrow-white@2x.png);
	background-size: 38px 40px;
	width: 38px;
	height: 40px;
/*	background-position-y: 8px;*/
}

.download-zone .call-text {
	text-align: center;
	float: right;
	width: 7em;
/*	background: #00f;*/
}

.app-menu {
/*	padding-top: 0.35em;*/
}

.app-menu a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0.1em 0.3em;
	border: 2px solid #fff;
	float: left;
	margin-left: 0.5em;
	font-size: 100%;
} 

.app-menu a:first-child-of-type {
	margin-left: 0;
}

.app-menu a:hover {
	background-color: #00f7c8;
	color: #000;
}

.newsletter {
	display: none;
	margin-top: 2em;
	border-bottom: 2em solid transparent;
}

.newsletter h3 {
	margin-bottom: 0px;
}

.widget_wysija .wysija-paragraph {
	margin-top: 0;
	margin-bottom: 0;
}

.widget_wysija_cont .wysija-submit {
	margin-top: 0.8em;
}

/* @end */

/* @group Mobile Menu */

.mobile-menu {
	background: #000;
	color: #fff;
}

.mobile-menu ul {
	margin: 1em 1em;
}

.mobile-menu li {
	margin: 0.3em;
}

.mobile-menu a {
	color: #fff;
	text-decoration: none;
	font-size: 160%;
}

.mobile-menu a:hover {
	color: #d0ff01;
}

/* @end */


/* @group Page Accueil */
	
	.animation {
		border: 0px solid #000;
		width: 100%;
		height: auto;
		display: block;
	}
	
	.media-container {
		cursor: pointer;
		border: 0px solid #333;
		position: relative;
	}
	.video-play-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		background-image: url(../../img/arrows/video-play-116.png);
		background-repeat: no-repeat;
		width: 88px;
		height: 86px;
	 background-size: 100% 100%;
		padding: 0;
		margin-top: -44px;
		margin-left: -43px;
		opacity: 0.6;
/*		z-index: 1;*/
	}	
	.media-container:hover .video-play-icon {
		opacity: 1;
	}
	
	.media-container iframe {
		width: 100%;
	}
	
	
/*
Note: use this: http://embedresponsively.com/
*/	
	
	.embed-container {
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%;
	}
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;
	}
	
	.youtube-container,
	.youtube-container iframe {
		width: 100%;
		height: 287px;
	}
	
	.youtube-container iframe {
	}
	
	.youtube-container {
/*		padding-bottom: 0%;*/
	}

	.page-template-accueil .content,
	.page-template-carte .content {
		background: transparent;
	}
	
	.about p {
		background: #fff;
		padding: 0.5em 0.7em;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}	
	
/* @end */

/* @group Page Carte */

.page-template-carte {
	
}

.artmap {
	position: relative;
	border: 0px solid #000;
	width: 100%;
	height: auto;
	display: block;
}

.artmap-img {
	width: 100%;
	background-image: url(../../img/map/map-plaine-972.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

.spot {
/*	display: none;*/

	position: absolute;
	left: 0px;
	top: 0px;
	
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	
/*	background-color: #000;*/
	
	background-image: url('../../img/icons/v3/blackdot.png');
	
	background-size: 4px 4px;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	margin-left: -2px;
	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	
/*	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	margin-left: -12px;*/
	
	cursor: pointer;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
	z-index: 6;
}

.spot:hover {

	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	margin-left: -12px;
	
	background-size: 48px 48px;
	width: 48px;
	height: 48px;
	margin-top: -24px;
	margin-left: -24px;
	
	/*background-size: 96px 96px;
	width: 96px;
	height: 96px;
	margin-top: -48px;
	margin-left: -48px;
	
	border-radius: 48px;
		
	background-image: none;
	background-color: #000;*/
	
	z-index: 5;

}


.id-172 { /*Frankie*/
	top: 50%;
	left: 24%;
}

.id-166 { /*dimanche*/
	top: 34%;
	left: 34%;
}

.id-166 { /*dimanche*/
	top: 34%;
	left: 34%;
}

.id-224 { /*yes-to-all*/
	top: 60%;
	left: 72%;
}

.id-228 { /*geld ausgeben*/
	top: 71%;
	left: 60%;
}

.id-160 { /*breath*/
	top: 68%;
	left: 15%;
}

.id-168 { /*expodrome*/
	top: 74.4%;
	left: 36%;
}

.id-158 { /*axis of silence*/
	top: 76%;
	left: 41%;
}

.id-263 { /*nymphe-de-la-fontaine*/
	top: 58%;
	left: 8%;
}

.id-162 { /*buste-de-georges-favon*/
	top: 57%;
	left: 16%;
}

.id-242 { /*projet-vegetal*/
	top: 39%;
	left: 28.7%;
}

.id-252 { /*fortress-of-human-rights*/
	top: 32%;
	left: 26.3%;
}

.id-174 { /*Carmen Perrin*/
	top: 43%;
	left: 38%;
}

.id-149 { /*alter-ego-1905-1982-3000*/
	top: 22%;
	left: 51%;
}

.id-156 { /*iraklion*/
	top: 28%;
	left: 49.5%;
}

.id-164 { /*coming-soon*/
	top: 32%;
	left: 54%;
}

.id-170 { /*fly-a-dragon-kite*/
	top: 32.6%;
	left: 59.7%;
}

.id-176 { /*ordre*/
	top: 33.3%;
	left: 65.8%;
}

.id-178 { /*monument aux victimes*/
	top: 43%;
	left: 81%;
}

.id-261 { /*brigadistes-suisses*/
	top: 39.5%;
	left: 96%;
}

.modalbox .title {
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 1em;
	max-width: 90%;
}

.modalbox .artist,
.modalbox .year {
	font-size: 120%;
}

.modalbox .artwork-img-box {
	width: 100%;
	float: left;
	border: 0px solid yellow;
	margin-bottom: 1em;
}

/*.horizontal .artwork-img-box{
	width: 100%;
}*/

.modalbox .artwork-img {
	max-width: 100%;
	height: auto;
/*	max-height: 300px;*/
	margin: 0 auto;
	display: block;
	border: 0px solid green;
}

.artwork-info {
	width: 100%;
	float: right;
	clear: none;
}

/*.horizontal .artwork-info{
	width: 100%;
}*/

.mask-layer {
	width: 100%;
	height: 100%;
	z-index: 16;
	position: fixed;
	top:  0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.modalbox {
	position: fixed;
	z-index: 1036;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.modalbox-inside {
	z-index: 1037;
	position: relative;
	
	max-width: 46em;
	margin-left: auto;
	margin-right: auto;

	height: 100%;
	width: 100%;
}

.modalbox-insidest {
	margin: 10%;
	
	min-height: 10%;
	min-width: 10%;
	
	min-height: 60%;
	max-height: 80%;
	overflow-y: auto;
	padding: 2em 2em 0.75em 2em;
	background-color: #000;
	
	color: #fff;
	
	position: relative;
}

.close-button {
	width: 44px;
	height: 44px;
	background-image: url(../../img/icons/close-button.png);
	background-size: 44px 44px;
	background-repeat: no-repeat;
	border: 0px solid #fff;
	display: block;
	position: absolute;
	top:  3%;
	right: 13%;
	cursor: pointer;
}


/* @end */

/* @group Page Capsules */

.page-id-25 a.link-capsules {
	display: block;
}

/* @end */

/* @group Page Credits */

.page-id-27 .main p {
	padding-left: 1em;
	line-height: 1.4;
	margin: 0.5em 0;
}
.page-id-27 .main h3 {
	margin-top: 1.6em;
}

/* @end */

.page-template-default .post img.alignright {
	width: 100% !important;
	height: auto !important;
}

/* @group Error 404 */

.logo-error {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	display: block;
	width: 286px;
	height: 390px;
	margin: 40px 0px 0 -143px;
	background-image: url(../../img/logo/logo-interrogation@2x.png);
	background-size: 100% 100%;
	border: 0px;
}

.error404 .header {
	min-height: 390px;
}

.error404 .content {
	background: none;
	padding-top: 2em;
}

.error404 .content p {
	font-size: 180%;
	margin: 0.2em 0;
	line-height: 1.3;
}

.error404 .content p:last-of-type {
	margin-bottom: 0.4em;
}

.error404 .content a {
	margin-top: 1em;
	display: /*block*/;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #000;
}

/* @end */

/* @group Jetpack Overrides */

body .jp-carousel-titleanddesc-title,
body .jp-carousel-info h2,
body .jp-carousel-wrap,
body .jp-carousel-image-meta {
  font-family: MaisonNeueWeb, Arial, Helvetica, sans-serif !important;
  color: #fff;
}

/* @end */

/* @group MailPoet Overrides */

.formError .formErrorContent,
.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
  font-family: MaisonNeueWeb, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 100%;
  padding: 0.8em 0.8em 0.4em 0.8em;
  border: 0px;
}

.formError {
	position: relative !important;
	top:  0px !important;
	left: 0px !important;
	clear: both;
	margin-bottom: 1em;
}

.formError .formErrorContent,
.wysija-msg .allmsgs {
	width: auto;
	float: left;
}

.wysija-msg:before,
.wysija-msg:after,
.formError:before,
.formError:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.wysija-msg:after,
.formError:after {
    clear: both;
}

.wysija-msg {
	margin-bottom: 0.5em;
}

.widget_wysija_cont .xdetailed-updated {
	font-weight: normal;
}


#wysija-subscriptions .form-table tr {
	margin-bottom: 12px;
	padding-bottom: 20px;
	border: 0px solid #000;
	line-height: 2;
	
	text-align: left;
}

#wysija-subscriptions .form-table label {
	margin-right: 1em;
}

#wysija-subscriptions .form-table h3 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

/* @end */

/* @group Formidable Overrides */

#content .frm_style_formidable-style.with_frm_style label.frm_primary_label, 
#content .frm_style_formidable-style.with_frm_style.frm_login_form label,
#content .frm_style_formidable-style.with_frm_style .frm_radio label, 
#content .frm_style_formidable-style.with_frm_style .frm_checkbox label,
#content .frm_style_formidable-style.with_frm_style input[type=submit], 
#content .frm_style_formidable-style.with_frm_style .frm_submit input[type=button], 
#content .frm_form_submit_style, 
#content .frm_style_formidable-style.with_frm_style.frm_login_form input[type=submit],
#content .frm_style_formidable-style.with_frm_style input[type=text], 
#content .frm_style_formidable-style.with_frm_style input[type=password], 
#content .frm_style_formidable-style.with_frm_style input[type=email], 
#content .frm_style_formidable-style.with_frm_style input[type=number], 
#content .frm_style_formidable-style.with_frm_style input[type=url], 
#content .frm_style_formidable-style.with_frm_style input[type=tel], 
#content .frm_style_formidable-style.with_frm_style input[type=search], 
#content .frm_style_formidable-style.with_frm_style select, 
#content .frm_style_formidable-style.with_frm_style textarea, 
#content .frm_style_formidable-style.with_frm_style .chosen-container 
{

	font-family: MaisonNeueWeb, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;

}

#content .frm_style_formidable-style.with_frm_style label.frm_primary_label {
	margin-bottom: 0.5em;
}

#content .frm_style_formidable-style.with_frm_style textarea,
#content .frm_style_formidable-style.with_frm_style input[type=button],
#content .frm_style_formidable-style.with_frm_style input[type=submit] {
	background: transparent;
	border: 2px solid #000;
	color: #000;
	border-radius: 0;
}




/* @end */

.testing {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100px;
	height: 2em;
	background: #fff;
}


/* end of CSS Document */