/* @override 
	http://art-sans-rdv.ch/wp-content/themes/artsansrdv/css/dev/32-mediaqueries.css */

@media only screen 
and (max-width : 767px) {
	
	.desktop-menu{
		display: none;
	}
	
	.header-content {
		height: 3em;
		background: #00f7c8;
		z-index: 1;
	}
	
	.search-form-desktop {
		display: none;
	}
		
}

/*
  400 +
*/

@media only screen 
and (min-width : 400px) {

	.about p {
			width: 47%;
			float: left;
			margin-right: 6%;
			border-bottom: 160px solid #00f7c8;
	}
	.about p:last-of-type {
		margin-right: 0;
	}	
	

}

/*
  500 +
*/

@media only screen 
and (min-width : 500px) {

	.page-template-default .post img.alignright {
			max-width: 50%;
			margin-left: 1.5em;
	}

}

/*
  600 +
*/

@media only screen 
and (min-width : 600px) {
	.spot {
		
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	margin-top: -12px;
	margin-left: -12px;
	}
	
	.modalbox .artwork-img-box {
		width: 40%;
	}
	.horizontal .artwork-img-box{
		width: 100%;
	}

	.artwork-info {
		width: 50%;
	}
	.horizontal .artwork-info{
		width: 100%;
	}

}

/*
 * 768 = Breakpoint for Desktop!
*/

@media only screen 
and (min-width : 768px) {
	
	.sub-container {
		max-width: 750px;
		margin: 0 auto;
		border: 0px solid red;
	}
		
	.mobile-menu {
		display: none !important;
		/* 
		Note: We need the !important, 
		because jQuery adds inline CSS.
		*/
	}
	
	.mobile-links {
		display: none;
	}
	
	.header {
		min-height: 0px;
		margin-bottom: 3.5em;
	}
	.logo {
		top: 0px;
		left: 0px;
		margin: 0;
		border: 0px solid #333;
	}
	.logo a {
		width: 128px;
		height: 160px;
		margin-left: 0px;
	}
	
	.header-content {
		height: 100px;
		margin-bottom: 0px;
		border-bottom: 20px solid #d0ff01;
	}
	
	.header-container {
		position: relative;
	}
	
	.desktop-menu {
		left: 130px;
		padding: 0 0 0.25em 0;
	}
	
	.social-menu {
		bottom: 0px;
		right: 10em;
	}
	
	.search-form-desktop {
		position: absolute;
		bottom: 0px;
		right: 0em;
		padding: 0 0 0.2em 0;
	}
	
	
	/* max-width: 750px; */
	
	.content {
		margin: 0;
		float: left;
		width: 550px;
	}
	.sidebar {
		width: 30%;
		width: 180px;
		float: right;
		clear: none;
		border: 0px;
		border-bottom: 30px solid transparent;
		position: relative;
	}
	
	.download-zone {
		position: relative;
		padding: 0;
		margin: 0;
		background: transparent;
		border: 0px solid #000;
	}
	.download-container,
	#download.active .download-container {
		width: 100%;
		margin: 0;
		height: auto;
	}
	.download-zone .call,
	.download-zone .call-icon,
	.download-zone .call-text {
		float: none;
		padding: 0;
		margin: 0;
	}
	

	.download-zone .call-icon {
		background-image: url(../../img/icons/v3/download@2x.png);
		background-size: 111px 186px;
		background-position: 50% 0%;
		margin: 0 auto;
		height: 188px;
		width: 111px;
		margin-bottom: 0.5em;
	}
	
	#download.active .call-icon {
		background-image: url(../../img/icons/v3/arrow-black@2x.png);
		background-size: 56px 60px;
		width: 56px;
		height: 60px;
		margin-bottom: 1em;
	}
	
	.download-zone .call-text {
		width: 100%;
		color: #000;
	}
	
	.app-menu {
/*	    padding-top: 0;*/
	}
	
	.app-menu a {
		clear: left;
		float: none;
		margin: 0 auto 0.5em auto;
		width: 5em;
		text-align: center;
		background: #000;
		border-color: #000;
		border-width: 3px;
	}

	.app-menu a:hover {
		background-color: #fff;
	}
	
	.newsletter {
		display: block;
		clear: both;
		border: 0px solid yellow;
		border-top: 20px solid transparent;
	}
	
	.about p {
		border-bottom-width: 0px;
	}
	
	.spot {
			background-size: 16px 16px;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			margin-left: -8px;
	}
	
	.download-zone {
		z-index: 5; /* Back to normal */
	}
	
	
	.page-template-default .post img.alignright {
			max-width: 40%;
	}
	
	
	.fixed-header .header {
			position: fixed;
	/*		top: 0px;
			left: 0px;*/
			width: 100%;
			z-index: 1024; /* Because Storymap is at 1000... */
	}
	
	.fixed-header .header-content {
		height: 50px;
	}
	.fixed-header .logo {
		top:  0px;
	}
	.fixed-header .logo a {
	  width: 56px;
	  height: 70px;
	  margin-left: 40px;
	}
	.fixed-header .desktop-menu {
/*		left: 120px;*/
	}
	
	.content {
		min-height: 469px;
		/* necessary for jquery Scroll() */
	}

}

/* 920 + ----------- */

@media only screen 
and (min-width : 920px) {
/* Styles */
		
		.sub-container {
			max-width: 900px;
		}
		
		.content {
			width: 700px;
		}
		
		.logo {
			left: 0px;
			top: 10px;
		}
		
		.logo a {
		  width: 152px;
		  height: 190px;
		  margin-left: 0px;
		  border: 0px solid #333;
		}
		
		.header-content {
			height: 120px;
		}
		
		.fixed-header .header-content {
			height: 70px;
		}
		
		.fixed-header .logo a {
		  width: 72px;
		  height: 90px;
		  margin-left: 40px;
		}
		
		.desktop-menu {
			left: 160px;
		}
		
		.desktop-menu ul li {
			margin-right: 0.4em;
			font-size: 120%;
		}
		
		.searchform input[type="text"] {
			max-width: 10em;
		}
		.social-menu {
			right: 12em;
		}
		
		.spot {
				background-size: 20px 20px;
				width: 20px;
				height: 20px;
				margin-top: -10px;
				margin-left: -10px;
		}
		
		
}

/* 1024 +
*/

@media only screen 
and (min-width : 1024px) {
	.sub-container {
		max-width: 1000px;
		
	}
	.content {
		width: 800px;
	}
	
	.searchform input[type="text"] {
		max-width: 12em;
	}
	.social-menu {
		right: 14em;
	}
	
	/**/
	
	.logo {
		/*left: 40px;
		top: 20px;*/
		top: 20px;
	}
	
	.logo a {
	  width: 160px;
	  height: 200px;
	  margin-left: 0px;
	  border: 0px solid #333;
	}
	
	.header-content {
		height: 140px;
	}
	
	.fixed-header .header-content {
		height: 70px;
	}
		
	/**/
	
	.desktop-menu {
		left: 180px;
	}
	
	.desktop-menu ul li {
		margin-right: 0.6em;
	}
	
	.desktop-menu a {
		padding: 5px 5px 4px 5px;
	}
	
	.about {
		width: 240px;
	}
	
	.about p {
		width: 100%;
		margin: 0;
		float: left;
	}
	
	.animation {
		width: 460px;
		float: right;
	}
	
	.spot {
			background-size: 24px 24px;
			width: 24px;
			height: 24px;
			margin-top: -12px;
			margin-left: -12px;
	}
	
	.modalbox-inside {
		max-width: 56em;
	}
	
	.modalbox .artwork-img-box {
		width: 30%;
	}
	.artwork-info {
		width: 60%;
	}
	
	.horizontal .artwork-img-box{
		width: 55%;
	}
	.horizontal .artwork-info{
		width: 35%;
	}
	
	
}

/* 1200 +
*/


@media only screen 
and (min-width : 1200px) {
	.sub-container {
		max-width: 1180px;
	}
	.content {
		width: 980px;
	}
	
	.animation {
		width: 640px;
	}
	
	.youtube-container,
	.youtube-container iframe {
		height: 360px;
	}
	
	
	.desktop-menu {
		left: 200px;
	}
	
	.desktop-menu ul li {
		margin-right: 3em;
	}
	.desktop-menu a {
		padding: 5px 5px 4px 5px;
	}
	
	
	.page-template-default .post {
		position: relative;
	}
	
	.page-template-default .post p {
		padding-right: 40%;
	}
	
	.page-template-default p.fullwidth {
		padding: 0;
	}
	
	.page-template-default .post img.alignright {
			margin-right: -67%;
			max-width: 60% !important;
	}
	
	.spot {
			background-size: 28px 28px;
			width: 28px;
			height: 28px;
			margin-top: -14px;
			margin-left: -14px;
	}
	
	.modalbox-inside {
		max-width: 64em;
	}
	
}

/* 1400 +
*/


@media only screen 
and (min-width : 1400px) {
	
	.sub-container {
		max-width: 1380px;
	}
	.content {
		width: 1180px;
	}
	
	.animation {
		width: 840px;
	}
	
	.youtube-container,
	.youtube-container iframe {
		height: 473px;
	}
	
	
	
}	

/* 1824 +
*/

@media only screen 
and (min-width : 1824px) {
/* Styles */
}



