/*

custom styles for the login page

*/

body,
html {
	background:#00f7c8;
	background-color: #00f7c8;
	}


body.login h1 a {
	background-image: url('../img/logo/logo-v3.png');
	background-size: 214px 288px;
	width: 214px;
	height: 288px;
}

.login #nav a {
/*    color: #eee !important;*/
}

.login #nav a:hover {
/*    color: #ffdd03 !important;*/
}

#nav {
/*    text-shadow: 0 1px 0 #333;*/
}


.login #nav, .login #backtoblog {
/*    text-shadow: 0 1px 0 #000000;*/
}

.login #nav a, .login #backtoblog a {
/*    color: #fff !important;*/
}